Redirect 301 /177-rosdiplom.html http://vivastudent.ru/
Redirect 301 /177-znaniumbaza_ru.html http://studrabota.com/1001-vivastudent_ru.html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]


# Return 404
ErrorDocument 404 /news/empty/10
DirectoryIndex index.php