Redirect 301 /177-rosdiplom.html http://vivastudent.ru/
Redirect 301 /177-bazaznanij_com.html http://studrabota.com/1001-bazaznanij_com.html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]


# Return 404
ErrorDocument 404 /news/empty/10
DirectoryIndex index.php